---
apiVersion: v1
kind: Secret
metadata:
  name: piwigo-secret
  namespace: broek
type: Opaque
stringData:
  mysql-root-password: "CHANGE_ME_ROOT_PASSWORD"
  mysql-password: "CHANGE_ME_USER_PASSWORD"
