apiVersion: v1
kind: Secret
metadata:
  name: ghostfolio-secret
  namespace: ghostfolio
type: Opaque
stringData:
  ACCESS_TOKEN_SALT: "CHANGE_ME_random_string_32_chars"
  JWT_SECRET_KEY: "CHANGE_ME_random_string_32_chars"
  POSTGRES_PASSWORD: "CHANGE_ME_random_password"
  REDIS_PASSWORD: "CHANGE_ME_random_password"
