---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: ghost
type: Opaque
stringData:
  mysql-root-password: "CHANGE_ME_ROOT_PASSWORD"
  mysql-password: "CHANGE_ME_USER_PASSWORD"
