apiVersion: v1
kind: Secret
metadata:
  name: inventree-secret
  namespace: inventree
type: Opaque
stringData:
  POSTGRES_PASSWORD: "CHANGE_ME_random_password"
  REDIS_PASSWORD: "CHANGE_ME_random_password"
  SECRET_KEY: "CHANGE_ME_random_string_64_chars"
