apiVersion: v1
kind: Secret
metadata:
  name: proxmox-exporter-config
  namespace: proxmox-exporter
type: Opaque
stringData:
  pve.yml: |
    default:
      user: prometheus@pve
      password: REPLACE_WITH_YOUR_PASSWORD
      verify_ssl: false
